.main-image {
  width: 100%;
  height: auto;
}
.header-container {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  display: block;
  pointer-events: none;
  margin-top: 150px;
}
.main-header {
  color: #fff;
  font-size: 14vw;
}
.sub-header {
  color: #fff;
  font-size: 1.8rem;
  opacity: 0.8;
}
.timeline-headers {
  color: #fff;
  font-size: 4rem;
}
.faq {
  font-size: 5rem;
  padding-bottom: 2%;
}
@media (max-width: 768px) {
    .faq {
        font-size: 3rem;
    }
    .timeline-headers{
        font-size: 3rem;
    }
}
@media (max-width: 420px) {
  .header-container {
    margin-top: 50px;
  }
  .main-header {
    font-size: 8vw;
  }
  .sub-header {
    font-size: 1rem;
  }
  .timeline-headers {
    font-size: 1.3rem;
  }
  .faq {
    font-size: 1.5rem;
  }
}
