.contact-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.contact-content{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container{
    background-color: black;
    height: 600 px;
    padding: 30px;
    justify-content:center;
}

.social-buttons{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2 px;
    flex-wrap:wrap;
    gap:15px;
}
.blue-circle2{
    background-color: rgb(0, 89, 255);
}
.red-circle1{
    background-color: red;
}
.pink-circle1{
    background-color: rgb(251, 57, 88);
}
.blue-circle3{
    background-color: blue;
}